.navigation-bar{
    height: 70px;
    top: 0;
    z-index: 1000;
    position: sticky;
    background-color: white;
}

/* Miglioramenti generali */
@media (max-width: 1300px) {
    
    .navigation-bar li{
        text-align: center;
        margin: auto 0;
    }

    .navigation-bar .userDash{
        display: none;
    }
    
}