.sidebar{
    border-radius: 5px;
    cursor: pointer;
    top: 70px;
    z-index: 1000;
    background-color: white;
    height: 100%;
}

.sidebar-navbar-div:hover{
    color: #03a1fc;
    font-weight: 600;
}

.sidebar .active{
    color: #03a1fc;
    font-weight: 600;
}